.gridTable {border-collapse: collapse; width: 100%; background:#C6E2F7;}
.gridTable td,.gridTable th{border: 1px solid #C0DCF1; padding:0 5px ; line-height:25px; background:#FFF; height:25px; line-height:25px; color:#666666; text-align:center;}
.gridTable .input_text{ padding:0; margin-bottom:3px;border:1px solid #6488A8; height:20px; width:200px;}
.gridTable th{background:#fff url(images/ad_t_01.gif) repeat-x left -351px; color:#003564}
.gridTable td .input_text{ border:1px solid #999; height:18px; line-height:18px; width:50%;}

.gridRowButton {height:25px; text-align:right; padding-top:5px;}
.gridButton{ height:21px; float:right; padding-right:5px; }
.gridButton li{  float:left; margin-left:5px;list-style-type: none;	height: 21px;	line-height: 21px;	text-align: center;}
.gridButton li a{ display:block;  background:url(images/ad_t_01.gif) no-repeat left -309px; color:#265D87; text-decoration:none;width: auto;}
.gridButton li a span{ display:block; background:url(.images/ad_t_01.gif) no-repeat right -309px;  margin-left:5px; padding: 0 10px; }
.gridButton li a:hover{ background:url(images/ad_t_01.gif) no-repeat left -330px; color: #C60; text-decoration:none;}
.gridButton li a:hover span{ background:url(images/ad_t_01.gif) no-repeat right -330px;}


.gridPage{ height:27px; line-height:27px; background:url(images/ad_t_01.gif) repeat-x left -375px; text-align:right; padding-right:5px;}
.gridPage input{ height:15px; line-height:15px; width:15px; border:1px solid #6488A8; margin:4px 2px 0 0; vertical-align: baseline; }
.gridPage a{ padding:0 5px;text-decoration: none;}
.gridPage a:hover{ text-decoration: none;}

.gridPages {    margin: 3px;    padding: 3px;}
.gridPages a {    border-color: #9AAFE5;    border-right: 1px solid #9AAFE5;    border-style: solid;    border-width: 1px;    color: #2E6AB1;    margin-right: 2px;    padding: 2px 5px;    text-decoration: none;}
.gridPages a:hover {    background-color: lightyellow;    border-color: #2B66A5;    border-right: 1px solid #2B66A5;    border-style: solid;    border-width: 1px;    color: #000000;}
.gridPages a.focus{height:26px; line-height:26px; border:1px solid #9AAFE5; margin-bottom:2px; font-size:18px; color:#666; width: 20px; }

.gridBtn{text-align:right;}